.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 2rem;
  background: #3b5998;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1{
  color: #fff;
}

.header select{
  height: 30px;
  width: 140px;
  border-radius: 5px;
  border: none;
}

section{
  text-align: center;
  padding: 1rem;
}

.contents {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(300px, 600px) minmax(300px, 600px); 
  grid-gap: 3rem; 
}